#about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 5rem;
}

#about--text {
    /* width: 50%; */

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
}

#about--header {
    color: var(--headers);
    font-size: 1.5rem;
    font-weight: 500;
    transition: color var(--dark-mode-transition);
}

#about--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
}

#about--img {
    border-radius: 5px;
    filter: drop-shadow(-40px 25px 5px var(--links-accent-one));
    height: auto;
    transition: filter var(--dark-mode-transition);
    width: 20rem;
}

/* ____________________________


Media queries

_______________________________ */
/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px) { 

}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) { 

}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px) { 
    #about--img {
        width: 30rem;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {

}

@media (min-width:2000px) {
    #about {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}