.button-link {
    background-color: var(--links-accent-one);
    border: solid 1px var(--links-accent-one);
    border-radius: 5px;
    color: var(--button-links);
    padding: 0.5rem 2rem;
    cursor: pointer;
    text-decoration: none;
    transition: ease-in-out 0.25s;
}

.button-link:hover {
    background-color: var(--links-accent-two);
    border-color: var(--links-accent-two);
}

.text-link {
    color: var(--links);
    text-decoration: none;
    transition: color var(--dark-mode-transition);
}

.text-link:hover > .fa-arrow-right {
    opacity: 100%;
    transform: rotate(-45deg) translate(10px, 0);
}

.fa-arrow-right {
    opacity: 0%;
    transform: rotate(-45deg);
    transition: ease-in-out 0.2s;
}

.inline-text-link {
    background-color: var(--links-accent-one);
    color: var(--links);
    transition: all var(--dark-mode-transition);
}