#landing {
    margin: 5rem auto;
    min-height: 80vh;
    width: 90%;
    
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.landing--paragraph {
    width: 100%;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

#landing--paragraph-buttons {
    width: 100%;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#landing--h1 {
    width: 100%;
}

#landing--h3 {
    width: 100%;
}

#landing--download {
    text-decoration: underline;
    transition: color ease-in-out 0.25s;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

#landing--download:hover {
    color: var(--focus-color);
}

#landing--download img {
    height: 1rem;
    width: 1rem;
}

#landing--faq {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

@media screen and (min-width: 1024px) {
    #landing {
        width: 35%;
    }

    #landing--paragraph-buttons {
        /* Flexbox */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
    }
}

/* 
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }
*/