@import url("./css/link.css");
@import url("./css/tooltip.css");

:root {
    --background: #FAFAFA;
    --background-accent: #FFFFFF;
    --headers: #111111;
    --text: #303030;
    --links: #9294B9;
    --links-accent-one: #D9DBF2;
    --links-accent-two: #B6B8D9;
    --footer-background: transparent;
    --footer-top-border: solid 1px #dddddd;
    --success: #21C89C;
    --warning: ##FFAB00;
    --error: #FF6464;

    --mobile-padding: 2.5rem;
    --dark-mode-transition: ease-in 0.5s;
}

.dark-mode {
    --background: #212131;
    --background-accent: #1E1E2C;
    --headers: #FFFFFF;
    --text: #F7F7F7;
    --links: #9FA2FF;
    --links-accent-one: #474B7B;
    --links-accent-two: #313660;
    --footer-background: var(--background-accent);
    --footer-top-border: none;
}

#nav--dark-mode-icon {
    background-color: var(--links-accent-one);
    border-radius: 5px;
    color: var(--text);
    cursor: pointer;
    height: 2.5rem;
    margin: 0;
    transition:
        background-color var(--dark-mode-transition),
        color var(--dark-mode-transition);
    width: 2.5rem;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

html {
    margin: 0;
    padding: 0;
}

a {
    color: var(--links);
    text-decoration: none;
    transition: color var(--dark-mode-transition);
}

i {
    margin-right: 0.5rem;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    line-height: 175%;
    margin: 0;
    padding: 0;
    transition: background-color var(--dark-mode-transition), color var(--dark-mode-transition);
}

/* ____________________________


Navigation bar

_______________________________ */
nav {
    height: 4rem;
    left: 0;
    overflow: hidden;
    padding: var(--mobile-padding) var(--mobile-padding) 0 var(--mobile-padding);
    position: sticky;
    top: 0;
    transition: all ease-in-out 0.25s;
    z-index: 999;
    
    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nav-bar {
    width: 100%;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.nav-title {
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-links {
    list-style-type: none;
    margin: 2.5rem 0 0 0;
    padding: 0;
    transition: opacity ease-in-out 0.5s;
    width: 100%;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--mobile-padding);
}

.nav-links a {
    color: var(--text);
    text-decoration: none;
    transition: color var(--dark-mode-transition);
}

.nav-links li {
    opacity: 0;
}

#nav-toggle {
    cursor: pointer;
}

#nav-toggle div {
    background-color: var(--text);
    height: 2px;
    margin: 5px;
    transition: all 0.3s ease;
    width: 24px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.toggle #bar-1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle #bar-2 {
    opacity: 0;
}

.toggle #bar-3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* ____________________________


Container

_______________________________ */
.container {
    padding: var(--mobile-padding);

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
}

/* ____________________________


Landing

_______________________________ */
.landing {
    max-width: 60rem;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
}

#landing--header {
    color: var(--headers);
    font-size: 1.5rem;
    font-weight: 500;
    transition: color var(--dark-mode-transition);
}

.landing--links {
    /* Flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

/* ____________________________


Contact

_______________________________ */
.contact {
    width: 100%;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}

.contact--section {    
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#contact--section-left {
    gap: 2.5rem;
    width: 100%;
}

#contact--section-right {
    display: none;
    width: 100%;
}

.contact--header {
    color: var(--headers);
    font-size: 1.25rem;
    font-weight: 600;
    transition: color var(--dark-mode-transition);
}

.contact--form-top-margin {
    margin-top: 2.5rem;
}

form > * {
    box-sizing: border-box;
    width: 100%;
}

form > label {
    font-size: 0.75rem;
}

form > input, form > textarea {
    padding: 15px 10px;
    background: transparent;
    border: solid 1px var(--text);
    border-radius: 5px;
    color: var(--text);
    font-size: 1rem;
    font-family: 'Roboto Mono';
}

form > button {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1.25rem;
    font-weight: 200;
}

form > input:focus-visible, form > textarea:focus-visible {
    border-color: var(--links-accent-one);
    outline: var(--links-accent-one) solid 2px;
}

/* ____________________________


Footer

_______________________________ */
footer {
    background-color: var(--footer-background);
    border-top: var(--footer-top-border);
    font-size: 0.75rem;
    height: 25rem;
    padding: 0 var(--mobile-padding);
    transition:
        background-color var(--dark-mode-transition),
        border-top var(--dark-mode-transition);

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

footer .footer--text {
    max-width: 30rem;
}

.footer--contact-links {
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.footer--copyright-year {
    font-weight: 600;
}

/* ____________________________


Media queries

_______________________________ */
/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px) { 

}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) { 

}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px) { 
    nav {
        padding: 5rem 2.5rem;
        flex-direction: row;
    }

    .nav-links {
        margin: 0;
        /* width: 50%; */

        /* Flexbox */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: var(--mobile-padding);
    }

    .nav-links li {
        opacity: 1;
    }

    #nav-toggle {
        display: none;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    body {
        font-size: 1.25rem;
    }

    .container {
        padding: 2.5rem 10rem;
    }

    #landing--header {
        font-size: 2rem;
    }

    #contact--section-left {
        width: 50%;
    }

    #contact--section-right {
        display: flex;
        width: 50%;
    }

    form > label {
        font-size: 1rem;
    }

    footer {
        font-size: 1rem;
        height: 30rem;
        padding: 0 10rem;
    }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {
    nav {
        padding: 5rem 10rem;
        flex-direction: row;
    }

    .container {
        gap: 10rem;
        padding: 5rem 20rem;
    }

    footer {
        padding: 0 20rem;
    }
}

@media (min-width:2000px) {
    nav {
        padding: 5rem 20rem;
    }

    .container {
        padding: 5rem 40rem;
    }

    footer {
        padding: 0 40rem;
    }
}