.footerFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
	height: 4.95vh;
    color: black;
    
    /* background-color: blue; */
}