#footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    font-size: 0.75rem;
    margin-top: auto;
    min-height: 20vh;
    padding: 5rem 0;
    transition: all ease-in-out 0.5s;
    width: 100%;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer--content {
    width: 90%;
    
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#footer--text {
    width: 100%;
}

#footer--github-link {
    color: var(--footer-text-color);
}

#footer--links {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

#footer--links a {
    color: var(--footer-text-color) !important;
}

#footer--copyright {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    #footer {
        font-size: 1rem;
    }

    #footer--content {
        width: 35%;
    }
}