* {
    font-family: sans-serif;
    font-weight: 600;
}

:root {
    --primary-black: #38393C;
    --secondary-black: #2E3440;
    --border-gray: #4A5059;
    --circle-red: #FD5F57;
    --circle-green: #28C740;
    --circle-yellow: #FEBC2E;
}

body {
    /* background-color: #390707; */
    background-image: url("./static/bg_dark.svg");
    back
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.terminal {
    border-radius: 15px;
    /* border: solid 3px var(--border-gray); */
    height: 500px;
    width: 800px;
}

.terminal-header {
    background-color: var(--primary-black);
    border-bottom: solid 1px black;
    border-radius: 15px 15px 0 0;
    height: 7%;
    width: 100%;

    display: flex;
    align-items: center;
}

.terminal-header-title {
    color: white;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-folder {
    color: #55B4E5 !important;
    margin-right: 0.5rem;
}

.terminal-body {
    background-color: var(--secondary-black);
    border-radius: 0 0 15px 15px;
    height: 93%;
    width: 100%;
}

.terminal-header-circles {
    margin-left: 0.5rem;
    position: absolute;
    width: 4%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.terminal-header-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 999px;
}

.thc-red {
    background-color: var(--circle-red);
}

.thc-yellow {
    background-color: var(--circle-yellow);
}

.thc-green {
    background-color: var(--circle-green);
}