/* <----- App.js ----->*/
body {
    background: url('./SVG/Background_DarkMode.svg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fdfdfd;
    background-color: #303030;

    margin: 0;
	font-size: 100%;
}

@media screen and (max-width: 1025px) {
	body {
        background: url('./SVG/Background_DarkMode_Vertical.svg') no-repeat;
        background-size: cover;
        background-color: #303030;
    }
}

/* <----- Projects.js ----->*/
#card {
    background-color: #303030;
}

#projectTitle {
    color: #fdfdfd;
}

#projectDescription {
    color: #fdfdfd;
}

.label {
    color: #50e8ca;
    border-color: #50e8ca;
}

.MuiButton-label {
    color: #fdfdfd;
}