:root {
    font-size: 16px;

    --primary-color: #F8F9FA;
    --secondary-color: #343A40;
    --focus-color: #4949FF;

    --primary-btn-bg-color: #343A40;
    --primary-btn-bg-color-hover: #212529;

    --nav-background-color: #343A40;
    --nav-text-color: #F8F9FA;
    --nav-dark-mode-toggle-color: #212529;

    --footer-background-color: #343A40;
    --footer-text-color: #F8F9FA;
}

.dark-mode {
    --primary-color: #343A40;
    --secondary-color: #F8F9FA;
    --focus-color: #FF8000;

    --primary-btn-bg-color: #F8F9FA;
    --primary-btn-bg-color-hover: #E0E1E2;

    --nav-background-color: #212529;
    --nav-text-color: #F8F9FA;
    --nav-dark-mode-toggle-color: #343A40;

    --footer-background-color: #212529;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Poppins", "Arial";
    margin-bottom: 21.53125rem;
    transition: all ease-in-out 0.5s;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 125%;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 125%;
}

a {
    color: var(--secondary-color) !important;
}