/* <----- App.js ----->*/
body {
    background: url('./SVG/Background_LightMode.svg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #404040;
    background-color: #fdfdfd;

    margin: 0;
	font-size: 100%;
}

@media screen and (max-width: 1025px) {
	body {
        background: url('./SVG/Background_LightMode_Vertical.svg') no-repeat;
        background-size: cover;
        background-color: #fdfdfd;
    }
}

/* <----- Projects.js ----->*/
#card {
    background-color: #fdfdfd;
}

#projectTitle {
    color: #404040;
}

#projectDescription {
    color: #404040;
}

.label {
    color: rgb(138, 158, 194);
    border-color: rgb(138, 158, 194);
}

.MuiButton-label {
    color: #3f51b5;
}